{% extends "base.html.twig" %}

{% block title%} Détails du lieu {{ lieu.getNomLieu() }} {% endblock %}

{% block stylesheets%} <link rel="stylesheet" href="{{ asset("css/profile.css") }}">{% endblock %}

{% block body %}
    Détails du lieu {{ lieu.getNomLieu() }} <br>
    <div>
        <p>Nom du lieu : {{ lieu.getNomLieu() }}</p>
        <p>Rue : {{ lieu.rue }}</p>
        <p>Latitude : {{ lieu.latitude }}</p>
        <p>Longitude : {{ lieu.longitude }}</p>
        <p>Ville : {{ lieu.ville }}</p>
        <div>
            <a href="{{ path('lieu_update', {'id' : lieu.id}) }}">Modifier le lieu</a>
            <a href="{{ path('lieu_delete', {'id' : lieu.id}) }}">Supprimer le lieu</a>
        </div>
    </div>
{% endblock %}