{% extends "base.html.twig" %}

{% block title%} Liste des campus {% endblock %}

{% block stylesheets%} <link rel="stylesheet" href="{{ asset("css/profile.css") }}">{% endblock %}
{% block javascript%} 
    <script src="{{ asset("js/detail.js") }}"></script>
{% endblock %}
{% block body %}
    <h1>Liste des campus</h1>

    <table id="myTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Nom du campus</th>
                </tr>
            </thead>
            <tbody>
                {% for campu in campus %}
                    <tr>
                        <td><a href="{{ path('campus_detail', {'id' : campu.id}) }}">{{ campu.getNomCampus() }}</a></td>
                    </tr>
                {% endfor%}
            </tbody>
            <tfoot>
            </tfoot>
        </table>

    <div>
        
    <a href="{{ path('campus_insert') }}" class="btn btn-ajout "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg> 
    Ajouter un campus</a>
    </div>
{% endblock %}