<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Entete-Page{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path("home") }}">Home</a></li>
                    <li><a href="{{ path("Profile") }}">Profile</a></li>
                    <li><a href="{{ path("Inscription") }}">Inscription</a></li>
                    <li><a href="{{ path("Sorties") }}">Sorties</a></li>
                </ul>
            </nav>
        </header>

        <main>
           
        </main>

        <footer>
           
        </footer>
    </div>
</body>
</html>