{% extends "base.html.twig" %}

{% block title%} Liste des participants {% endblock %}

{% block stylesheets%} <link rel="stylesheet" href="{{ asset("css/profile.css") }}">{% endblock %}

{% block body %}
    <h1>Liste des participants</h1>
    
    <table id="myTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Pseudo du l'utilisateur</th>
                    <th>Campus de l'utilisateur</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('profile', {'id' : user.id}) }}">{{ user.pseudo }}</a></td>
                        <td>{{ user.campus }}</td>
                    </tr>
                {% endfor%}
            </tbody>
            <tfoot>
            </tfoot>
        </table>

    <div>
        <a href="{{ path('user_register') }}" class="btn btn-secondary">Ajouter un participant</a>
        <a href="{{ path('user_integration') }}" class="btn btn-secondary">Intégrer le fichier de participants</a>
    </div>
{% endblock %}