{% extends "base.html.twig" %}

{% block title%} Liste des participants {% endblock %}

{% block stylesheets%} <link rel="stylesheet" href="{{ asset("css/profile.css") }}">{% endblock %}

{% block body %}
    <h1>Liste des participants</h1>
    
    <table id="myTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Pseudo du l'utilisateur</th>
                    <th>Campus de l'utilisateur</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('profile', {'id' : user.id}) }}">{{ user.pseudo }}</a></td>
                        <td>{{ user.campus }}</td>
                    </tr>
                {% endfor%}
            </tbody>
            <tfoot>
            </tfoot>
        </table>

    <div>
        <a href="{{ path('user_register') }}" class="btn btn-btn-default btn-ajout"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg> 
        Ajouter un participant</a>
        <a href="{{ path('user_integration') }}" class="btn btn-default btn-ajout"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4 22v-20h16v11.543c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362zm18-7.614v-14.386h-20v24h10.189c3.163 0 9.811-7.223 9.811-9.614zm-5-1.386h-10v-1h10v1zm0-4h-10v1h10v-1zm0-3h-10v1h10v-1z"/></svg>
         Intégrer le fichier de participants</a>
    </div>
{% endblock %}