{% extends "base.html.twig" %}

{% block title%} Liste des participants {% endblock %}

{% block stylesheets%} <link rel="stylesheet" href="{{ asset("css/profile.css") }}">{% endblock %}

{% block body %}
    Liste des participants <br>

    <table id="myTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Champs</th>
                    <th>Valeur</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>Nom de l'utilisateur</td>
                        <td><a href="{{ path('profile', {'id' : user.id}) }}">{{ user.pseudo }}</a></td>
                    </tr>
                {% endfor%}
            </tbody>
            <tfoot>
            </tfoot>
        </table>

    <div>
    <a href="{{ path('user_register') }}">Ajouter un participant</a>
    <a href="{{ path('user_integration') }}">Intégrer le fichier de participants</a>
    </div>
{% endblock %}