{% extends "base.html.twig" %}

{% block title%} Détail sortie {{sortie.nom}} {% endblock %}

{% block stylesheets%} <link rel="stylesheet" href="{{ asset("css/detail.css") }}">{% endblock %}
{% block javascript%} 
    <script src="{{ asset("js/detail.js") }}"></script>
{% endblock %}
{% block body %}
    
    Détail de la sortie <br>
    <div>

        {%  if(isOrganisateur==0 and user.administrateur==0) %}

            <table id="myTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Champs</th>
                    <th>Valeur</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nom de la sortie</td>
                    <td>{{sortie.nom}}</td>
                </tr>
                <tr>
                    <td>Etat de la sortie</td>
                    <td>
                        {{ sortie.etat }}
                    </td>
                </tr>
                <tr>
                    <td>Date de début</td>
                    <td>{{sortie.datedebut|date("m/d/Y")}}</td>
                </tr>
                <tr>
                    <td>Date de fin</td>
                    <td>{{sortie.datecloture|date("m/d/Y")}}</td>
                </tr>
                <tr>
                    {# Étrangement impossible d'obtenir la propriété juste en tapant son nom
                    D'où l'appel au getter #}
                    <td>Nombre d'inscription maximum</td>
                    <td>{{sortie.getNbinscriptionsmax()}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{sortie.descriptioninfos}}</td>
                </tr>
                <tr>
                    <td>Etat de la sortie</td>
                    <td>{{sortie.etat.libelle}}</td>
                </tr>
                <tr>
                    <td>Campus concerné</td>
                    <td>{{sortie.campus.nomCampus}}</td>
                </tr>
                <tr>
                    <td>Organisateur</td>
                    <td>{{sortie.organisateur}}</td>
                </tr>
                <tr>
                    <td>Lieu de la sortie</td>
                    <td>{{sortie.lieu.nomLieu}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Champs</th>
                    <th>Valeur</th>
                </tr>
            </tfoot>
        </table>

        {% else %}
        
        {{ form_start(sortieForm) }}

            <table id="myTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Champs</th>
                    <th>Valeur</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ form_label(sortieForm.nom) }}</td>
                    <td>{{ form_widget(sortieForm.nom) }}</td>
                </tr>
                <tr>
                    <td>Etat de la sortie</td>
                    <td>
                        {{ sortie.etat }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(sortieForm.datedebut) }}</td>
                    <td>{{ form_widget(sortieForm.datedebut) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(sortieForm.duree) }}</td>
                    <td>{{ form_widget(sortieForm.duree) }}</td>
                </tr>
                <tr>
                    {# Étrangement impossible d'obtenir la propriété juste en tapant son nom
                    D'où l'appel au getter #}
                    <td>{{ form_label(sortieForm.datecloture) }}</td>
                    <td>{{ form_widget(sortieForm.datecloture) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(sortieForm.nbinscriptionsmax) }}</td>
                    <td>{{ form_widget(sortieForm.nbinscriptionsmax) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(sortieForm.descriptioninfos) }}</td>
                    <td>{{ form_widget(sortieForm.descriptioninfos) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(sortieForm.campus) }}</td>
                    <td>{{ form_widget(sortieForm.campus) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(sortieForm.lieu) }}</td>
                    <td>{{ form_widget(sortieForm.lieu) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(sortieForm.organisateur) }}</td>
                    <td>{{ form_widget(sortieForm.organisateur) }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Champs</th>
                    <th>Valeur</th>
                </tr>
            </tfoot>
        </table>
        <br>
        <div>
            <a href="{{ path('sortie_annule', {'id' : sortie.id}) }}" class="btn btn-secondary">Annuler la sortie</a>
        </div>
        <br>
        {{ form_row(sortieForm.submit) }}

        {{ form_end(sortieForm) }}
        
        {% endif %}
        
    </div>
    <br>

    {%  if(isRegister>0) %} 
        <div class="svgRegister svgBorder rounded svgInscri" value="{{sortie.id}}">
            <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/>
            </svg><span id="txtBtnRegister"> Vous êtes inscrit</span>
        </div>

    {% else %}
        {% if(sortie.etat.id == 2) %}
            <div class="svgRegister svgBorder rounded svgNonInscri" value="{{sortie.id}}">
                <svg class="svgPerso" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 19h-4v-2h4v2zm2.946-4.036l3.107 3.105-4.112.931 1.005-4.036zm12.054-5.839l-7.898 7.996-3.202-3.202 7.898-7.995 3.202 3.201zm-6 8.92v3.955h-16v-20h7.362c4.156 0 2.638 6 2.638 6s2.313-.635 4.067-.133l1.952-1.976c-2.214-2.807-5.762-5.891-7.83-5.891h-10.189v24h20v-7.98l-2 2.025z"/>
                </svg><span id="txtBtnRegister"> S'inscrire</span>
            </div>
        {% endif %}
    {% endif %}
    <br>
    <table id="myTable2" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            {% for inscrit in lesInscrits %}
                <tr>
                    <td>{{inscrit.participant.pseudo}}</td>
                    <td>{{inscrit.participant.nom}} {{inscrit.participant.prenom}}</td>
                </tr>
            {% endfor%}
        </tbody>
        <tfoot>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}