{% extends "base.html.twig" %}

{% block title%} Créer une sortie {% endblock %}

{% block stylesheets%} <link rel="stylesheet" href="{{ asset("css/form.css") }}">{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>
    <div>
        {{ form_start(sortieForm) }}
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.datedebut) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.datecloture) }}
            {{ form_row(sortieForm.nbinscriptionsmax) }}
            {{ form_row(sortieForm.descriptioninfos) }}
            {{ form_row(sortieForm.campus) }}
            {{ form_row(sortieForm.lieu) }}
            <a href="{{ path('lieu_insert') }}" class="btn btn-ajout "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg>  
            Ajouter un lieu</a>
            {{ form_row(sortieForm.submit) }}
            {{ form_widget(sortieForm._token) }} {# render the CSRF Token #}
        {{ form_end(sortieForm, {'render_rest': false}) }}
    </div>
{% endblock %}