{% extends 'base.html.twig' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset("css/detail.css") }}">{% endblock %}
{% block javascript %} 
    <script src="{{ asset("js/detail.js") }}"></script>
{% endblock %}
{% block body %}
    
    <h1>Liste des sorties</h1>
    <table id="myTable" class="display" style="width:100%" >
    <thead>
        <tr>
            <th> Nom </th>
            <th> Date </th>
            <th> Date cloture </th>
            <th> Duree </th>
            <th> Nombre max d'inscription </th>
            <th> Etat </th>
         </tr>
    </thead>
    <tbody>
        {% for row in Sorties|sort %}
                <tr> 
                <td> <a href="{{ path('sortie_detail', {'id': row.id}) }}" title="More details on {{ row.nom }}">  {{ row.nom }}  </td>
                <td>   {{ row.datedebut|date('Y-m-d') }}   </td>
                <td>   {{ row.datecloture|date('Y-m-d') }}   </td>
                <td>   {{ row.duree|date('H:i')}}   </td>
                <td>   {{ row.nbinscriptionsmax }}   </td>
                <td>   {{ row.etat.libelle }}   </td>
                </tr>            
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('sortie_insert') }}" class="btn btn- btn-ajout"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg> 
        Ajouter une sortie</a>
    </div>

{% endblock %}

{% block title %}
    Les sorties
{% endblock %}
