{% extends "base.html.twig" %}

{% block title%} Détails de la ville {{ ville.getNomVille() }} {% endblock %}

{% block stylesheets%} <link rel="stylesheet" href="{{ asset("css/profile.css") }}">{% endblock %}

{% block body %}
    <h1>Détails de la ville {{ ville.getNomVille() }}</h1>
    <div>
        <p>Nom de la ville : {{ ville.getNomVille() }}</p>
        <p>Code postal : {{ ville.getCodePostale() }}</p>
        <div>
            <a href="{{ path('ville_update', {'id' : ville.id}) }}" class="btn btn-update "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.127 22.564l-7.126 1.436 1.438-7.125 5.688 5.689zm-4.274-7.104l5.688 5.689 15.46-15.46-5.689-5.689-15.459 15.46z"/></svg> 
            Modifier la ville</a>
            <a href="{{ path('ville_delete', {'id' : ville.id}) }}" class="btn btn-suppr "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z"/></svg> 
            Supprimer la ville</a>
        </div>
    </div>
{% endblock %}