{% extends "base.html.twig" %}

{% block title%} Liste des villes {% endblock %}

{% block stylesheets%} <link rel="stylesheet" href="{{ asset("css/profile.css") }}">{% endblock %}
{% block javascript%} 
    <script src="{{ asset("js/detail.js") }}"></script>
{% endblock %}
{% block body %}
    <h1>Liste des villes</h1>

    <table id="myTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Nom de la ville</th>
                </tr>
            </thead>
            <tbody>
                {% for ville in villes %}
                    <tr>
                        <td><a href="{{ path('ville_detail', {'id' : ville.id}) }}">{{ ville.getNomVille() }}</a></td>
                    </tr>
                {% endfor%}
            </tbody>
            <tfoot>
            </tfoot>
        </table>

    <div>
        
    <a href="{{ path('ville_insert') }}" class="btn btn-secondary">Ajouter une ville</a>
    </div>
{% endblock %}