<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
        <script src="{{ asset("js/myScript.js") }}"></script>

        <link rel="stylesheet" href="{{ asset("css/base.css") }}">
        <link rel="stylesheet" href="{{ asset("css/barTelephone.css") }}">

        <meta name="viewport"
          content="width=device-width,   initial-scale=1.0">
        <title>{% block title %}
            Welcome!
        {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascript %}{% endblock %}
    </head>
    <body>
    {# Menu telephone #}

    <!-- Top Navigation Menu -->
    <div class="topnav">
    <a href="#home" class="active"><span class="noir">Logo</span></a>
    <div id="myLinks">
    <a href="{{ path('sorties') }}">Les sorties</a>
    <a href="{{ path('lieux') }}">Les lieux</a>
    <a href="{{ path('villes') }}">Les villes</a>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}">Panneau admin</a>
        {% endif %}
            <a href="{{ path('user_update') }}">Mon profil</a>
            <a href="{{ path('logout') }}">Logout</a>
        {% else %}
            <a href="{{ path('login') }}">Login</a>
    {% endif %}
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    {# https://iconmonstr.com/menu-1-svg/ #}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
    </a>
    </div>
    <script>
    function myFunction() 
    {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } 
        else 
        {
            x.style.display = "block";
        }
    }
    </script>
    {# Fin menu téléphone #}
        <div class="container">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light bg-perso">
                    <ul class="navbar-nav">
                        <li class="nav-item"><p class="nav-link" >projetSortir.com</p></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('sorties') }}">Les sorties</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('lieux') }}">Les lieux</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('villes') }}">Les villes</a></li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Panneau admin</a></li>
                            {% endif %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('user_update') }}">Mon profil</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>



            </header>
            <main>
                <div class="content">
                    <a class="btn btn-bleu" href=javascript:history.go(-1)><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.427 3.021h-7.427v-3.021l-6 5.39 6 5.61v-3h7.427c3.071 0 5.561 2.356 5.561 5.427 0 3.071-2.489 5.573-5.561 5.573h-7.427v5h7.427c5.84 0 10.573-4.734 10.573-10.573s-4.733-10.406-10.573-10.406z"/></svg> 
                    Retour</a>
                    <div id="flashMessage">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    </div>
                    {% block body %}{% endblock %}
                    {% block javascripts %}{% endblock %}
                </div>
            </main>
            <footer class="page-footer bg-light bg-perso">
                <div class="footer-copyright text-center py-3">
                    &copy; {{ "now"|date("Y") }} projetSortir.com
                </div>
            </footer>
        </div>
    </body>
</html>