{% extends "base.html.twig" %}

{% block title%} {{ user.pseudo }} {% endblock %}

{% block stylesheets%}
    <link rel="stylesheet" href="{{ asset("css/profile.css") }}">
{% endblock %}

{% block body %}
    <div>
        <H1>{{ user.pseudo }}</H1>
        <p>Prénom : {{ user.prenom }}</p>
        <p>Nom : {{ user.nom }}</p>
        <p>Téléphone : {{ user.telephone }}</p>
        <p>Email : {{ user.mail }}</p>
        <p>Campus : {{ user.campus }}</p>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-link" href="{{ path('admin_user_update', {'id' : user.id}) }}" class="btn btn-secondary">Modifier utilisateur</a>
            <a class="nav-link" href="{{ path('user_delete', {'id' : user.id}) }}" class="btn btn-secondary">Supprimer utilisateur</a>
        {% endif %}
    </div>
{% endblock %}